<div>
  <app-heroes></app-heroes>
  
  <app-nested-content>
    <p [ngClass]="className">This is the nested component content 1</p>
  </app-nested-content>

  <app-nested-content>
    <p [ngClass]="{ 'class-checked': isChecked, 'class-unchecked': !isChecked }">
      This is the nested component content 2
    </p>
  </app-nested-content>

  <label>
    <input type="checkbox" [(ngModel)]="isChecked" />
    Check me!
  </label>

  <button type="button" (click)="isChecked = !isChecked">Click to Change</button>
</div>

