<!-- <div>
  <app-heroes></app-heroes>

  <hr>

  <app-nested-content>
    <p [ngClass]="className">This is the nested component content 1</p>
  </app-nested-content>

  <app-nested-content>
    <p [ngClass]="{ 'class-checked': isChecked, 'class-unchecked': !isChecked }">
      This is the nested component content 2
    </p>
  </app-nested-content>
  
  <hr>

  <app-time></app-time>
  
  <hr>
  
  <label>
    <input type="checkbox" [(ngModel)]="isChecked" />
    Check me!
  </label>

  <button type="button" (click)="isChecked = !isChecked">Click to Change</button>
</div>
 -->

 <h2>App Component</h2>
 <ul>
   <li>
     <a [routerLink]="['/heroes']">Heroes</a>
   </li>
   <li>
    <a routerLink="/nested">Nested Component</a>
  </li>
  <li>
    <a (click)="goToTime()">Time</a>
  </li>
 </ul>
 <router-outlet></router-outlet>
